<%- include template/header.ejs %>
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<style type="text/css">
	.theme{
    font-size:18px;
    text-align:center;
    border-bottom:1px solid #ccc;
    padding:10px 0px;
    margin-bottom:10px;
    background-color:#ffffff;
}

#notfound {
  position: relative;
  height: 70vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 710px;
  width: 100%;
  text-align: center;
  padding: 0px 15px;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 200px;
  line-height: 200px;
}

.notfound .notfound-404 h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 168px;
  margin: 0px;
  color: #ff508e;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
}

.cards{
    background: #e6e0e0;
    position: relative;
    border-radius: 13px;
    padding: 0.25rem 1.5rem;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in;
    margin: 0.5rem;
    word-break: break-word;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
</style>
<div class="container">
        <div class="row">
        <div class="col-md-12">
        	<% if(isi.length == 0){ %>
            <div class="theme">Maaf daftar video untuk list yang anda cari belum tersedia.</div>
            <% }else { %>
            <div class="theme">Berikut daftar video untuk series <b><%= judul %></b> </div>	
            <% } %>
        </div>
    </div>
	<div class="row videos">
		<% if(isi){ isi.forEach((data) =>{ %>

		<div class="col-md-12">
		    <div class="media media-video">

		        <div class="cards is-link">
		            <a href="/watch-video/<%= data.sid %>/<%= data.id %>" class="media-heading"><b><%= data.judul %></b></a>
		            <div class="desc"><%= data.deskripsi %></div>
		        </div>
		    </div>
		</div>
		<% }); }%>

		 <% if(isi.length == 0){ %>
            <div id="notfound" class="col">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>404</h1>
                    </div>
                    <h2>Sorry can't found list video for this series :(</h2>
                    <a href="#"><span class="arrow"></span>Return To Homepage</a>
                </div>
            </div>

            <% } %>


	</div>
</div>